body {
    margin: 0 ;
}
.nav-bar  {
    width:  45%;
    height: 10%;
    margin-left: 45%;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    
   
}
.nav-bar span {
    width: 30%;
    margin-right: 5%;
    font-size: 15px;
    font-weight: 400;
    
    
}
.top-banner {
    height: 500px;
    width: 100%;
    margin-top: 7%;
    margin-left: 3%;
}
.top-banner-intro {
    float: left;
    width: 45%;
    height: 100%;
}
.top-banner-intro h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: bold;
    color : #363958;
    line-height: 80px;
    
}
#top-banner-intro-name 
{
    color: #FF8367;
}
.top-banner-intro p {
    font-family:'Roboto', sans-serif; 
    font-weight: 400;
}
.button-style {
    background-color: #FF8367;
    color : #FFFFFF;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border-color: transparent;
    font-size: 10px;  
}

.top-banner-image {
    float: right;
    width: 35%;
    height: 100%;
    margin-right: 5%
}
.top-banner-image img{
    width: 100%;
    height: 100%;
    float:right;

}

.about-section {
    height: 500px;
    width: 100%;  
    margin-top: 7%;
}
.about-section-image {
    width: 40%;
    height: 100%;
    float: left;

}
.about-section-image img {
    width: 100%;
    height: 100%;
}
.about-section-text {
    width: 40%;
    height: 100%;
    text-align: center;
    margin-top: 10%;
    float:right;
    font-family: 'Roboto', sans-serif;
}
.about-section-text h4{
    font-size: 20px;
    color : #363958;
}
.about-section-text p {
    font-size: 15px;
    line-height: 25px;
}

.work-area {
    height: 700px;
    width: 100%;
    margin-top: 5%;
    float: left;
    background-image: linear-gradient(#D7E1EC,#FFFFFF);
   
    
}
.work-area h3 {
    text-align: center;
    color: #363958;
    font-family:'Bebas Neue', cursive;
    font-size: 50px;
}
.work-area span {
    color: #FF8367;
}
.project-deatils  {
    width: 20%;
    height: 50%;
    margin-left: 10%;
    float: left;
    box-shadow: 10px 20px 30px;
}
.project-deatils img {
    width: 100%;
    height: 100%;
}
.project-deatils h5 {
    color:#363958;
    font-size: 20px;
}


.contact-area{
    height: 150px;
    width: 70%;
    margin-left: 10%;
    background-image: url("images/Group_33094_1.png");
    margin-bottom: 10px;
    
}
.contact-area h2 {
    float: left;
    margin-left: 15%;
    margin-top: 5%;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    
}
.contact-area button
{
    font-family: 'Roboto',sans-serif;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}


